@font-face {
  font-family: "Blush_Asliring";
  src: url("/fonts/blush_asliring/blush-asliring.regular.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/satoshi/Satoshi-Medium.eot"); /* IE9 Compat Modes */
    src:
      local(""),
      url("/fonts/satoshi/Satoshi-Medium.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("/fonts/satoshi/Satoshi-Medium.woff2") format("woff2"),
      /* Super Modern Browsers */ url("/fonts/satoshi/Satoshi-Medium.woff") format("woff"),
      /* Modern Browsers */ url("/fonts/satoshi/Satoshi-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "Satoshi-new";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/satoshi/Satoshi-Regular.woff");
}
@font-face {
    font-family: "SatoshiBold";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/satoshi/Satoshi-Bold.eot"); /* IE9 Compat Modes */
    src:
      local(""),
      url("/fonts/satoshi/Satoshi-Bold.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("/fonts/satoshi/Satoshi-Bold.woff2") format("woff2"),
      /* Super Modern Browsers */ url("/fonts/satoshi/Satoshi-Bold.woff") format("woff"),
      /* Modern Browsers */ url("/fonts/satoshi/Satoshi-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "SatoshiExtraBold";
    font-style: normal;
    /* font-weight: 900; */
    src: url("/fonts/satoshi/Satoshi-Bold.eot"); /* IE9 Compat Modes */
    src:
      local(""),
      url("/fonts/satoshi/Satoshi-Bold.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("/fonts/satoshi/Satoshi-Bold.woff2") format("woff2"),
      /* Super Modern Browsers */ url("/fonts/satoshi/Satoshi-Bold.woff") format("woff"),
      /* Modern Browsers */ url("/fonts/satoshi/Satoshi-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "SatoshiNumber";
    font-style: normal;
    /* font-weight: 400;     */
    src: url("/fonts/satoshi/Satoshi-Variable.eot"); /* IE9 Compat Modes */
    src:
      local(""),
      url("/fonts/satoshi/Satoshi-Variable.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("/fonts/satoshi/Satoshi-Variable.woff2") format("woff2"),
      /* Super Modern Browsers */ url("/fonts/satoshi/Satoshi-Variable.woff") format("woff"),
      /* Modern Browsers */ url("/fonts/satoshi/Satoshi-Variable.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "SatoshiBoldItalic";
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/satoshi/Satoshi-BoldItalic.eot"); /* IE9 Compat Modes */
    src:
      local(""),
      url("/fonts/satoshi/Satoshi-BoldItalic.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("/fonts/satoshi/Satoshi-BoldItalic.woff2") format("woff2"),
      /* Super Modern Browsers */ url("/fonts/satoshi/Satoshi-BoldItalic.woff") format("woff"),
      /* Modern Browsers */ url("/fonts/satoshi/Satoshi-BoldItalic.ttf") format("truetype"),
      /* Safari, Android, iOS */ url("/fonts/satoshi/Satoshi-BoldItalic.otf") format("opentype"); /* Additional support for OTF */
}
@font-face {
    font-family: "Lemon-Milk-bold";
    font-style: italic;
    font-weight: 700; /* Bold */
    src: url("/fonts/lemon_milk/LEMONMILK-BoldItalic.otf") format("opentype");
}
@font-face {
    font-family: "Lemon-Milk-bold-ni";
    font-style: normal;
    font-weight: 700; /* Bold */
    src: url("/fonts/lemon_milk/LEMONMILK-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Lemon-Milk-med";
    font-style: italic;
    font-weight: 500; /* Medium */
    src: url("/fonts/lemon_milk/LEMONMILK-MediumItalic.otf") format("opentype");
}
@font-face {
    font-family: "Lemon-Milk-med-ni";
    font-style: normal;
    font-weight: 500; /* Medium */
    src: url("/fonts/lemon_milk/LEMONMILK-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Lemon-Milk-reg";
    font-style: normal;
    font-weight: 400; /* Medium */
    src: url("/fonts/lemon_milk/LEMONMILK-Regular.otf") format("opentype");
}

@font-face {
    font-family: "blush";
    font-style: normal;
    font-weight: 500; /* Medium */
    src: url("/fonts/blush-asliring.regular.otf") format("opentype");
}